*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 500px;
    overflow: hidden;
}

nav{
    padding: 1rem;
    background-color: wheat;
    color: hsl(202, 90%, 23%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    transition: text-decoration 5ms ease-in-out;
}

nav ul li a:hover{
    text-decoration: underline;
}

form{
    color: whitesmoke;
    padding: 1rem;
    background-color: hsl(202, 90%, 23%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

form h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

form p {
    padding: 1rem 0;
}

form label{
    margin-bottom: 0.5rem;
    display: inline-block;
}

form textarea{
    width: 80%;
    height: 100px;
    margin: 0 auto;
    display: block;
}

form input[type=submit], form a{
    width: 30%;
    text-align: center;
    display: inline-block;
    padding: 0.5rem;
    background-color: wheat;
    color: hsl(202, 90%, 23%);
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    margin: auto;
    margin-top: 1rem;
    text-decoration: none;
}


/* memories list */
.memories-list, .memory-container{
    background-color: hsl(202, 90%, 23%);
    padding: 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: whitesmoke;
}

.memories-list h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.memories-list ul {
    list-style: none;
    height: 300px;
    overflow-y: auto;
}

.memories-list ul li{
    margin: 0.5rem 0;
}

.memories-list ul li a{
    color: inherit;
    text-decoration: none;
    font-size: 1.2rem;
}

/* memory detail */

.memory-container small{
    display: inline-block;
    margin-bottom: 1rem;
    background-color: wheat;
    padding: 0.5rem;
    border-radius: 5px;
    color: hsl(202, 90%, 23%);
    font-size: 1rem;
}

.memory-container a {
    display: inline-block;
    padding: 0.5rem;
    background-color: wheat;
    color: hsl(202, 90%, 23%);
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    margin-top: 1rem;
}